<% content_for :page_actions do %>
  <% if can?(:admin, Spree::Order) %>
    <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, icon: 'arrow-left' %></li>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: Spree.t(:order_versions) } %>

<% content_for :page_title do %>
  (<%= l @version.created_at %>)
<% end %>

<div data-hook="order_version">
  <% @version.products.each do |product| %>
    <table data-hook="product_version">
      <colgroup>
        <col style="width: 20%;" />
        <col style="width: 80%;" />
      </colgroup>

      <tbody>
        <tr data-hook="product_version-name">
          <td><%= Spree::Product.human_attribute_name(:name) %></td>
          <td><%= product.name %></td>
        </tr>

        <tr data-hook="product_version-description">
          <td><%= Spree::Product.human_attribute_name(:description) %></td>
          <td><%= product.description %></td>
        </tr>

        <tr data-hook="product_version-taxons">
          <td><%= Spree.t(:taxonomies) %></td>
          <td>
            <ul>
              <% @version.taxons(product_id: product.id).each do |taxon| %>
                <li><%= taxon.name %></li>
              <% end %>
            </ul>
          </td>
        </tr>

        <tr data-hook="product_version-properties">
          <td><%= Spree.t(:properties) %></td>
          <td>
            <table>
              <colgroup>
                <col style="width: 40%;" />
                <col style="width: 60%;" />
              </colgroup>
              <tbody>
                <% @version.product_property_and_property_version_ids(product_id: product.id).each do |product_property_and_property| %>
                  <tr>
                    <td><%= PaperTrail::Version.find(product_property_and_property[:property_version_id]).reify.name %></td>
                    <td><%= PaperTrail::Version.find(product_property_and_property[:product_property_version_id]).reify.value %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>

        <% @version.variants(product_id: product.id).each_with_index do |variant, index| %>
          <tr data-hook="product_version-variant">
            <td><%= Spree.t(:variant) %>: <%= variant.sku %></td>
            <td>
              <table data-hook="product_version-option_type_and_value">
                <colgroup>
                  <col style="width: 40%;" />
                  <col style="width: 60%;" />
                </colgroup>
                <tbody>
                  <% @version.option_type_and_value_version_ids(variant_id: variant.id).each do |option_type_and_value| %>
                    <tr>
                      <td><%= PaperTrail::Version.find(option_type_and_value[:option_type_version_id]).reify.presentation %></td>
                      <td><%= PaperTrail::Version.find(option_type_and_value[:option_value_version_id]).reify.presentation %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
