<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_products_list), session[:return_to] || admin_products_url, :icon => 'arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Product Details' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<h4>Versión: <%= pretty_time @version.created_at %></h4>

<%= form_for [:admin, @product], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'spree/admin/products/form', :locals => { :f => f } %>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button_link_to Spree.t('actions.cancel'), admin_product_versions_path(@versionable), :icon => 'remove' %>
    </div>
  </fieldset>
<% end %>

<script>
  $('input').attr('disabled', true);
  $('textarea').attr('disabled', true);
  $('select').attr('disabled', true);
</script>
